{% extends "index.njk" %}



{% block navbar %}
<div class="navbar">
  <div class="navbar__container container container--width">
    <a class="navbar__logo" href="/">Тайны Библии</a>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="/nashe-video">Наше видео</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="/blog-main">Блог</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="/stati">Статьи</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="/instrumenty">Инструменты</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="/bs">Библейские сюжеты</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="/karta-sajta">Карта сайта</a>
        </li>
      </ul>
    </nav>
    <button class="nabar__menu-toggler">
      <span class="visually-hidden">Переключатель состояния меню</span>
    </button>
  </div>
</div>
{% endblock %}


{% block main %}


{% if title === "Home" %}
<div class="home">
  {% endif %}


  <main class="page__main page__main--sidebar">
    <div class="container">
      {{ content | safe }}
      {% block main_footer %}

      {% endblock %}
      <aside class="page__main-sidebar">
        {% block aside %}
        <h2 class="promo__title">Актуальные статьи для христиан:</h2>
        <ul class="promo__list">
        {% for article in collections.actual | listClone  | shuffle %}
          <li class="promo__item">
            <a href="{{ article.url }}" class="promo__link">
            {% if article.data.image %}
              <img style="margin-bottom: 10px" src="{{ article.data.image }}">
            {% endif %}
            {{ article.data.title }}
            </a>
          </li>
      {% endfor %}

      {% for article in collections.promo | listClone | shuffle | listSlice(0, 3) %}
      <li class="promo__item">
         <a href="{{ article.url }}" class="promo__link">{{ article.data.title }}</a>
          </li>
      {% endfor %}


    </ul>
        {% endblock %}
      </aside>
    </div>

  </main>
  {% endblock %}
