<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48122865-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48122865-1');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="keywords" content=" {{ keywords }}" />
  <meta name="author" content=" {{ author }}" />
  <meta name="description" content="{{ description }}">

  <!-- favicons -->


  <link rel="icon" href="/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


  <!-- TODO link:real canonical -->
  <!-- TODO проверить как выводятся метатеги без значения -->
  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  <link rel="stylesheet" href="/css/theme.css?v=1.11">
  <link rel="stylesheet" href="/css/custom.css?v=1.11">
  <link rel="stylesheet" href="/css/style.css?v=1.21">
</head>

<body class="page">
  <header class="page__header">
    {% block navbar %}
    <div class="navbar">
      <div class="navbar__container container">
        <a class="navbar__logo" href="/">Тайны Библии</a>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a class="main-nav__link" href="/nashe-video">Наше видео</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="/blog-main">Блог</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="/stati">Статьи</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="/instrumenty">Инструменты</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="/bs">Библейские сюжеты</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="/karta-sajta">Карта сайта</a>
            </li>
          </ul>
        </nav>
        <button class="nabar__menu-toggler">
          <span class="visually-hidden">Переключатель состояния меню</span>
        </button>
      </div>
    </div>
    {% endblock %}
  </header>
  {% block main %}
  <main class="page__main">
    <div class="container">
      {{ content | safe }}
      {% block main_footer %}
      {% endblock %}
    </div>

  </main>
  {% endblock %}
  <footer class="tm-footer">
    <div class="container">
     {% block copytight %}
      <p>Тайны Библии. Новое понимание писания (Даниила 12:4)</p>
       {% endblock %}
      <a class="tm-totop-scroller" data-uk-smooth-scroll="" href="#"></a>
    </div>

  </footer>
  <script src="/js/custom.js" type="text/javascript"></script>
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>

  <!-- Подсветка стихов из Библии. Посетите http://ref.bble.ru/ для более детальной настройки. Данный код необходимо вставить непосредственно перед закрывающимся тегом </body> -->
  <script src="//api.bibleonline.ru/ref/bible.js" type="text/javascript" charset="utf-8" defer="defer"></script>
  <script>
    (function(w) {
      function init() {
        bibleRef.conf("Translate", "rus");
        bibleRef.conf("Target", "_blank");
        bibleRef.conf("ToolTipUse", true);
        bibleRef.conf("NoTags", ["h1", "h2", "h3", "h4", "h5", "h6"]);
        bibleRef.conf("VSeparator", ":.");
        bibleRef.conf("RSeparator", ",");
        bibleRef.conf("CSeparator", ";");
      }
      if (w.addEventListener) {
        w.addEventListener("load", function() {
          init()
        }, false);
      } else {
        w.attachEvent("onload", function() {
          init()
        });
      }
    })(window);


  </script>

    <div class="visually-hidden">
      {% include "partials/counters.njk" %}
    </div>
</body>

</html>
