{% extends "index.njk" %}

{% block main_footer %}
<div class="uk-panel uk-panel-box uk-panel-box-secondary">
  <div class="uk-text-center" style="max-width: 300px; margin-left: auto; margin-right: auto; background-color: #00aeec; padding: 15px; border-radius: 30px;">
    <p>
      <a href="/stati/tajny/38-pritchi-iisusa-khrista" style="color: white; font-size: 26px;">Притчи Иисуса Христа</a>
    </p>
    <p style="padding: 0; margin-top: -15px; font-size: 16px;">
      <a href="/stati/tajny/38-pritchi-iisusa-khrista" style="color: white;">Вернуться</a>
    </p>
  </div>
</div>
{% endblock %}
