.article--simphony {
  h1 {
    font-size: 42px;
    line-height: 1;
    font-family: inherit;
  }

  h2 {
    font-size: 40px;
    line-height: 1;
    margin-top: 50px;
    border-bottom: 1px solid burlywood;
  }

  h3 {
    margin-top: 50px;
    font-family: inherit;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
  }

  ul {
    list-style: none;

    @media (max-width: $screen-mobile) {
      padding-left: 0;
    }
  }

  li a {
    display: block;
    flex-direction: column;
    margin-right: auto;
    margin-left: -14px;
    color: burlywood;
    font-weight: 700;
    font-size: 25px;
    margin-top: -20px;
    align-self: start;
    margin-bottom: 25px;
    pointer-events: none;

    @media (max-width: $screen-mobile) {
      pointer-events: none;
    }


  }

  li {
    padding: 30px;
    background: #f2f2f2;
    border: 1px dashed #8080804f;
    margin-bottom: 8px;

  }
}

.direct-speech {
  padding-left: 50px;
  margin-top: 0;
  font-style: italic;
}

.art-block {
  border: 4px solid;
}

.art-block--black {
  background: #1a1a1a;
  color: #959595;
  padding: 20px;

  .emo {
    color: #1a1a1a;
  }

  blockquote {
    box-shadow: none;
  }
}

.table-comparison {
  overflow-x: scroll;

  tr {
    display: grid;
    border: 1px solid grey;
    margin-bottom: 30px;

    @media (min-width: $screen-tablet) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 10px;
    }
  }

  td {
    padding: 10px;
  }

  td:first-child {
    background-color: #adb;
  }
}
