.marked {
  background-color: var(--marked);
}

.marked-block {
  background-color: #fcf6d6;
  color: #062729;
  padding: 15px;
  border: 1px solid #d6cccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

.marked-list {
  background-color: #e3f1fb;
  padding: 25px;
  border-top: 5px solid #00bef7;
  border-bottom: 5px solid #00bef7;
}

.navigator__description {
  background-color: #fffaf0ff;
  border: 4px solid;
  padding: 15px;
  padding-left: 40px;
  border-left: 15px solid;

  h4 {
    font-size: 20px;
    line-height: 1.2;
    font-family: sans-serif;
  }
}

.navigator-list {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
  list-style: none;

  li:not([class]) {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.navigator-list__item  {
  position: relative;
  padding: 10px;
  border: 3px solid;

  &::before {
    content: 'Пророчество';
    position: absolute;
    font-weight: bold;
    top: -13px;
    color: white;
    background-color: green;
    padding: 0 10px;
  }
}

.navigator-list__item--proverbs {
  border-color: green;

  &::before {
    content: 'Пророчество:';
  }
}

.navigator-list__item--key-idea {
  width: 80%;
  border-style: dashed;
  border-color: greenyellow;
  margin-top: 40px;

  &::before {
    content: 'Ключевая мысль:';
    background-color: greenyellow;
    color: black;
  }
}
