*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

table {
  overflow: auto;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.next_article {
  display: block;
  padding: 32px 10px;
  border: 1px solid;
  margin-bottom: 10px;
  color: #00aeec;
  text-decoration: underline;
  font-weight: bold;
font-size: 24px;

  &:hover {
    color: #ffffff;
    background-color: #00aeec;
    text-decoration: none;
  }
}

